.playableMove {
    fill: gray;
    opacity: 10%;
}
.playableMove:hover {
    opacity: 40%;
}
.dot {
    fill: black;
}

.player1Line {
    fill: red;
}
.player2Line {
    fill: blue;
}

.player1Box {
    fill: red;
    opacity: 0.5;
}
.player2Box {
    fill: blue;
    opacity: 0.5;
}
.game {
    width: 75vh;
    height: 75vh;
}
